@import "variables.scss";

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  text-align: center;

  >.nav-content {

    background: rgba(darken($cardBg2, 5), 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(darken($cardBg2, 2), 0.2);
    display: inline-block;
    margin: 10px auto 0;
    padding: 10px 50px;

    >a {
      border-radius: 999px;
      padding: 5px 20px;
      text-decoration: none;
      font-family: "Grotesk-03Regular";
      font-size: 20px;

      &.current {
        text-decoration: underline;
      }
    }
  }
}
