$cardBg: #c7a483;
$cardBg2: #b79c76;
$border1: #fad49d;
$border2: #dbbe93;
$radialCenter: rgba(255, 202, 155, 0.3);
$radialEdge: rgba(11, 12, 22, 0.3);
$shadow: rgba(255, 207, 155, 0.5);
$bg: #e6c9a1;
$accent: #520d01;
