*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "EB Garamond";
  margin: 0;
  padding: 0;
  transition:
    background-color 0.2s,
    color 0.2s;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

a {
  text-decoration: underline;
  color: var(--link);
}

h1,
h2,
h3 {
  font-family: "grotesk-bold";
}

h1 {
  text-align: center;
  font-size: 54px;
}

/* Custom HR Style */
hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: var(--border);
  border-width: 1px 0 0 0;
  border-radius: 20px;
  padding: 0;
  border: none;
  border-top: medium double var(--border);
  color: var(--border);
  text-align: center;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: var(--border);
  border-width: 0 0 1px 0;
  border-radius: 20px;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
}
