@font-face {
  font-family: "grotesk";
  src: url("../fonts/Grotesk-03Regular.ttf");
}

@font-face {
  font-family: "grotesk-bold";
  src: url("../fonts/Grotesk-04Gras.ttf");
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Arabesque Drop Cap";
  src: url("../fonts/ArabesqueInitialen.ttf");
}
