/* The Canvas is the wallpaper */
#hero-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.landing-overlay {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1%;
}

.info-card {
  opacity: 95%;
  max-width: 600px;
  font-size: 24px;
  border-radius: 12px;
  position: relative;
  z-index: 1;
  background: linear-gradient(
    135deg,
    var(--bg-emphasis),
    var(--bg-alt-emphasis)
  );
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  overflow: hidden;
}

.info-card-content {
  padding: 2.5rem;
  position: relative;
  z-index: 3;
}

.info-card-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #000;
  filter: url(#noiseFilter);
  opacity: 50%;
  clip-path: url(#rounded-clip);
  mix-blend-mode: hard-light;
  transition: all ease 0.3s;
  pointer-events: none;
}

.click-and-drag {
  position: absolute;
  bottom: 0;
  right: 30px;
}

@media (max-width: 1000px) {
  .landing-overlay {
    justify-content: center;
    padding-left: 0;
    padding: 0.25rem;
  }

  .info-card {
    margin: 0 auto;
    width: 100%;
  }

  .info-card-content {
    padding: 1.5rem 1rem;
  }

  .click-and-drag {
    display: none;
  }
}
