.floating-nav {
  font-family: "grotesk";
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(
    135deg,
    var(--bg-emphasis),
    var(--bg-alt-emphasis)
  );
  backdrop-filter: blur(10px);
  border-radius: 50px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  opacity: 95%;
}

.navbar--hidden {
  transform: translateX(-50%) translateY(-200%);
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  font-size: 0.95rem;
  transition: color 0.2s;
  margin: 0 6px;
}

.nav-links a:hover {
  color: var(--link);
}

/* Theme Toggle Button */
#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  transition: transform 0.2s;
}

#theme-toggle:hover {
  transform: scale(1.1);
}

.icon {
  width: 20px;
  height: 20px;
}

.dark-icon {
  display: none;
}
.light-icon {
  display: block;
}

[data-theme="dark"] .dark-icon {
  display: block;
}
[data-theme="dark"] .light-icon {
  display: none;
}

.nav-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #000;
  filter: url(#noiseFilter);
  opacity: 50%;
  clip-path: url(#rounded-clip);
  mix-blend-mode: hard-light;
  transition: all ease 0.3s;
  pointer-events: none;
}
