:root {
  --bg: #e6c9a1;
  --bg-code: #ffffff; /* TODO */
  --bg-emphasis: #c7a483;
  --bg-alt-emphasis: #b79c76;
  --text: #222222;
  --link: #520d01;
  --border: #520d01;
}

// [data-theme="dark"] {
//   --bg: #0f1c2e;
//   --bg-code: #09111c;
//   --bg-emphasis: #1e3a52;
//   --bg-alt-emphasis: #2a4d69;
//   --text: #dcebf5;
//   --link: #5cdb95;
//   --border: #5cdb95;
// }

[data-theme="dark"] {
  --bg: #232530;
  --bg-code: #16161c;
  --bg-emphasis: #2e303e;
  --bg-alt-emphasis: #2e303e;
  --text: #c7c9cb;
  --link: #fab795;
  --border: #e95379;
}
