/* Configuration */
@import "modules/variables";
@import "modules/fonts";

/* Base styles */
@import "modules/base";

/* Components */
@import "modules/navbar";
@import "modules/hero";
@import "modules/posts";
